@import "tailwindcss";

@theme {
  --color-on-primary-fixed-variant: #542e00;
  --color-on-surface-variant: #4d5d73;
  --color-on-background: #203044;
  --color-tertiary-fixed-dim: #ebca32;
  --color-secondary-container: #ffc880;
  --color-surface-container-high: #d2e4ff;
  --color-error-dim: #b92902;
  --color-primary-container: #fe9400;
  --color-primary-fixed-dim: #ea8900;
  --color-on-tertiary-fixed: #453900;
  --color-outline: #68788f;
  --color-on-primary-container: #482600;
  --color-tertiary-container: #fad940;
  --color-tertiary-dim: #5e4f00;
  --color-inverse-primary: #fe9400;
  --color-secondary-fixed-dim: #ffb54b;
  --color-on-surface: #203044;
  --color-secondary-dim: #704700;
  --color-background: #f4f6ff;
  --color-surface-container-low: #eaf1ff;
  --color-on-error-container: #520c00;
  --color-on-secondary: #fff0e2;
  --color-primary-dim: #774300;
  --color-primary: #884d00;
  --color-on-secondary-fixed: #4b2e00;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container: #dce9ff;
  --color-on-primary: #fff0e6;
  --color-inverse-surface: #000f21;
  --color-surface: #f4f6ff;
  --color-secondary: #805200;
  --color-primary-fixed: #fe9400;
  --color-surface-tint: #884d00;
  --color-outline-variant: #9eaec7;
  --color-on-primary-fixed: #231000;
  --color-on-tertiary-fixed-variant: #655500;
  --color-surface-dim: #bdd6fc;
  --color-surface-bright: #f4f6ff;
  --color-on-secondary-container: #653f00;
  --color-on-error: #ffefec;
  --color-on-tertiary: #fff2ca;
  --color-on-secondary-fixed-variant: #714800;
  --color-secondary-fixed: #ffc880;
  --color-tertiary: #6b5a00;
  --color-surface-variant: #c9deff;
  --color-surface-container-highest: #c9deff;
  --color-error-container: #f95630;
  --color-inverse-on-surface: #8e9eb7;
  --color-on-tertiary-container: #5a4c00;
  --color-error: #b02500;
  --color-tertiary-fixed: #fad940;

  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}